<!DOCTYPE html>
<html>
  <head>
    <title>SocialMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1>Welcome to my Social Media site</h1>
    </div>
     <ul class="navbar">
      <li><%=link_to "Home", posts_path%></li>
      <li><a href="">News</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Settings</a></li>
    </ul> 

    <%= yield %>
  </body>
</html>
